#nav-ul, a{
 display: flex;
 flex-direction:row;

 align-items: flex-end;
 padding: 1rem;
 font-size: 3rem;
 list-style-type: none;
 text-decoration: none;
 font-family: Georgia, 'Times New Roman', Times, serif;
 color:white;
}
.list:hover{
  background-color: rgba(221, 216, 230, 0.91);
}
nav{
  text-decoration: none;
  background-color: rgba(164, 141, 202, 0.41);
}

.list{
 padding: 2rem; 
}
body{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10h10v10H0V10zM10 0h10v10H10V0z' fill='%23a48dca' fill-opacity='0.16' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.hero{
 height: 100vh;

}
#hero-content{
 display: grid;
 grid-template-columns: 1fr 1fr;
 padding-top: 15vh; 
}
#hero-info{
font-size: 1.5rem;
grid-column-start: 1;
padding-left: 20vw; 

}

#hero-image{
  max-width: 70%;
  height: auto;
  border:5px dashed #a48dca;

  border-radius: 1rem;
  
}

#herobutton{

  width: 150px;
  height: 60px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
}

#herobutton:hover {
  background: #315cfd;
  color: white;
  font-size: 1.5em;
}


.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
  font-size: 3rem;
  background-color: rgba(164, 141, 202, 0.41);

}

.cards-demo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  font-size: 2rem; 
  list-style-type: noneS;
}

.card{
   border: 2px dashed black;
    padding: 2rem;
}